# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Datascience\DS\MLDL\class notes\ML\LinearRegression-master\GCP\MachineLearningModelToGCP-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
